/* MAIN-PAGE */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
  }

  body {
    background-image: url(https://s12.gifyu.com/images/SUJtu.gif);
    z-index: -1;
    
    }

   .container {
    margin: 140px;
   }

  .title {
    
    text-align: center;
    font-size: 65px;
    font-family: "Viaoda Libre";
    font-weight: bolder;
    color: white;
    text-shadow: 10px 3px 5px rgba(0, 5, 5, 0.5);
    margin-bottom: 15px;
    
}

.para {
  text-align: center;
  font-size: 15px;
  font-family: "Viaoda Libre";
  font-weight: bolder;
  color: white;
  text-shadow: 10px 3px 5px rgba(0, 5, 5, 0.5);
  
}

  .photo img {
    width: 250px; 
    height: 225px; 
    object-fit: cover;
    border: 5px solid black;
    border-radius: 20px 20px;
    display: block;
    margin: 18px 8px;
    transition: transform 0.3s;
  }


  .photo img:hover {
    transform: scale(1.1); /* Increase size on hover */
  }

  


  .photo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding-top: 30px;
  }


  a:link { 
    text-decoration: none;
  }


  .caption {
    
    font-size: 22px;
    font-family: "Viaoda Libre";
    color: white;
    text-shadow: 10px 3px 5px rgba(0, 5, 5, 0.5);
    font-weight: 600;

    
  }

  @keyframes slide-in {
    from { transform: translateX(-100%); }
    to   { transform: translateY(0%); }
  }
  
  .container {
  animation: slide-in 2000ms;}





  
  
  
  /* Lasagne */



.Lasagne {
  color: white;
  font-family: "Viaoda Libre";
  text-shadow: 10px 3px 5px rgba(0, 5, 5, 0.5);
}

.background-lasagne {
  background-image: url(https://wallpapercave.com/wp/wp11620200.jpg);
  height: 100vh;
}

.Lasagne img{
  width: 300px;
  display: flex;
  position: absolute;
  left: 70%;
  top: 35%;
  border: solid 5px white;  
}

h1 {
  font-size: 75px;
  text-align: center;
}

.DescriptionLasagne  {
    
    text-align: center;
    
}

.LasagneList h2 {
  font-size: 50px;
  text-align: center;
}

.bordered-list {
  border: solid 2px rgb(255, 255, 255);
  border-radius: 5px;
  list-style-type: none;
  padding: 0;
  border: 1px solid #ddd;
  overflow: hidden;
  float:left;
  border-radius: 40px;
}

.lasagne-list span {
  display: block;
}

.LasagneList {
  display: inline-block;
  position: absolute;
  margin-top: 60px;
}

.LasagneSteps {
  display: inline-block;
  width: 750px;
  margin-left: 350px;
  margin-top: 60px; 
}

.LasagneSteps h2 {
  font-size: 50px;
  text-align: center; 
}

.bordered-steps-text {
  border: solid 2px rgb(255, 255, 255);
  border-radius: 5px;
  list-style-type: none;
  padding: 0;
  border: 1px solid #ddd;
  overflow: hidden;
  float:left;
  border-radius: 40px;
}

.back-button {
  display: inline-block;
  
}
