/* MAIN-PAGE */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body {
    background-image: url(https://s12.gifyu.com/images/SUJtu.gif);
    z-index: -1;
    background-size: cover;
  }

  
  
  .photo img {
    width: 250px; 
    height: 225px; 
    object-fit: cover;
    border: 5px solid black;
    border-radius: 20px 20px;
    display: block;
  
    
  }

  .photo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    
  }

  