/* MAIN-PAGE */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
  }

  body {
    background-image: url(https://s12.gifyu.com/images/SUJtu.gif);
    z-index: -1;
    
    }

   .container {
    margin: 140px;
   }

  .title {
    
    text-align: center;
    font-size: 65px;
    font-family: "Viaoda Libre";
    font-weight: bolder;
    color: white;
    text-shadow: 10px 3px 5px rgba(0, 5, 5, 0.5);
    margin-bottom: 15px;
    
}

.para {
  text-align: center;
  font-size: 15px;
  font-family: "Viaoda Libre";
  font-weight: bolder;
  color: white;
  text-shadow: 10px 3px 5px rgba(0, 5, 5, 0.5);
  
}

  .photo img {
    width: 250px; 
    height: 225px; 
    object-fit: cover;
    border: 5px solid black;
    border-radius: 20px 20px;
    display: block;
    margin: 18px 8px;
    transition: transform 0.3s;
  }


  .photo img:hover {
    transform: scale(1.1); /* Increase size on hover */
  }

  


  .photo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding-top: 30px;
  }


  a:link { 
    text-decoration: none;
  }


  .caption {
    
    font-size: 22px;
    color: white;
    text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
    
  }

  @keyframes slide-in {
    from { transform: translateX(-100%); }
    to   { transform: translateY(0%); }
  }
  
  .container {
  animation: slide-in 2000ms;}